/*font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

html {
  font-size: 16px;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
}
.d-flex {
  display: flex;
}
.mt-104 {
  margin-top: 6.5rem;
}
h3 {
  margin: 0;
}
h2 {
  margin: 0;
}
.w-1368 {
  width: 1368px;
  margin: 0 auto;
}
.w-50 {
  width: 50%;
}
@media (max-width: 1368px) {
  .w-1368 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .w-50 {
    width: 100%;
  }
}
