/*font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body{
  font-family: "Noto Sans KR", sans-serif;
}


.mt-104{
  margin-top: 104px;
}

h3{
  margin: 0;
}

.w-1368{
  width: 1368px;
  margin: 0 auto;
}